<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-10 mt-5">
      <p>*Está lista vai atualizar em {{ timer }} segundos</p>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">URL original</th>
            <th scope="col">URL encurtada</th>
            <th scope="col">Visualizações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let link of links; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ link.originalUrl }}</td>
            <td>
              {{ urlShort(this.apiService.getOwnUrl(), link.shortenedUrl) }}
            </td>
            <td>{{ link.views }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
